.calendar{
    background-color: rgba(75, 132, 244, 1);
    height: 48px;
}
.sidebar{
    width: 20%;
    position: fixed;
    background-color: #fff;
    height: 100vh;
}
.logo{
    margin-left: 20px;
    margin-top: 13px;
}

.title1{

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
    margin-top: -25px;
    display: flex;
    color:#fff;

}

.sidebar_body{
    padding: 0 15px;
}
.btn{
    box-sizing: border-box;
    width: 100%;
    margin: 30px 0;
    height: 40px;

    border: 1px solid #4B84F4;
    border-radius: 10px;
    background-color: white;
}

