.calendar {
    background: #345294;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

image {
    width: 300px;
}

h2 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 32px !important;
    font-family: "Roboto";
    font-weight: 500;
}

.login {
    width: 50%;
    margin: auto;
}
.login span {
    color: #2E2E2E;
    opacity: 0.5;
    font-size: 12px;
    font-weight: 300;
}
.login .logo_box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E6ECFF;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.login .logo_box img {
    width: 22px;
    height: 22px;
}
.login h2 {
    color: #4B84F4;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px !important;
}
.login label {
    width: 100%;
    color: #2E2E2E;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto";
    margin-bottom: 8px;
}
.login label input {
    margin-top: 4px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: none;
    height: 38px;
    padding-left: 10px;
    color: #000;
}
.login label .password {
    border: 1px solid rgba(46, 46, 46, 0.2) !important;
    border-radius: 8px;
    background: none;
    height: 37px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    margin-top: 4px;
}
.login label .password img {
    cursor: pointer;
    opacity: 0.6;
}
.login label .password input {
    height: 100%;
    margin: 0;
    border: none !important;
    padding-right: 10px;
}
.login .save {
    background: #4B84F4;
    color: #fff;
    border-radius: 8px;
    height: 43px;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto";
    margin-top: 16px;
}
.login .authorization_link {
    color: #4B84F4;
    font-size: 13px;
    font-weight: 300;
}
.login p {
    margin-top: 4px;
    font-family: "Roboto";
}
.login p span {
    color: #2E2E2E;
    opacity: 0.5;
    font-weight: 300;
    font-size: 13px;
    margin-right: 8px;
}